<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.upc.pe.jobagapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JoBagApplication"
        tools:targetApi="31">
        <activity
            android:name=".PostulateActivity4"
            android:exported="false" />
        <activity
            android:name=".PostulateActivity3"
            android:exported="false" />
        <activity
            android:name=".PostulateActivity2"
            android:exported="false" />
        <activity
            android:name=".PostulateActivity1"
            android:exported="false" />
        <activity
            android:name=".EmpleoActivity2"
            android:exported="false" />
        <activity
            android:name=".EmpleoActivity1"
            android:exported="false" />
        <activity
            android:name=".FilterActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAnuncioEmpleador"
            android:exported="false"
            android:parentActivityName=".MainEmpleadorActivity" />
        <activity
            android:name=".SuscripcionEmpleador"
            android:exported="false"
            android:parentActivityName=".MainEmpleadorActivity" />
        <activity
            android:name=".Postulante.RegistrarActivityPerfil"
            android:exported="false"
            android:parentActivityName=".RegisterActivity" />
        <activity
            android:name=".Postulante.RegisterActivityPostulante"
            android:exported="false"
            android:parentActivityName=".RegisterActivity" />
        <activity
            android:name=".Postulante.PerfilActivityPostulante"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Postulante.LoginActivityPostulante"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Empleador.RegisterActivityEmpleador"
            android:exported="false"
            android:parentActivityName=".RegisterActivity" />
        <activity
            android:name=".Empleador.LoginActivityEmpleador"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PerfilEmpleadorActivity"
            android:exported="false"
            android:parentActivityName=".MainEmpleadorActivity" />
        <activity
            android:name=".OfertaByEmpleadoID"
            android:exported="false"
            android:parentActivityName=".MainEmpleadorActivity" />
        <activity
            android:name=".EntrevistasPendientesEmpleadorActivity"
            android:exported="false"
            android:parentActivityName=".MainEmpleadorActivity" />
        <activity
            android:name=".MainEmpleadorActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>